@font-face {
     font-family: "open sans";
     src: url("http://fonts.googleapis.com/css?family=Open+Sans");
}
 body {
     max-width: 1080px;
     min-width: 900px;
     margin: auto;
     font-family: "open sans";
}
 header {
     background-image: url(/img/apples.jpg) ;
     background-size: 100% 100%;
     height: 500px;
}
 nav {
     display: flex;
     justify-content: space-around;
     padding-top: 15px;
     flex-wrap: wrap;
}
 nav a:first-child {
     text-transform: uppercase;
     margin-right: 450px;
     margin-left: 10px;
}
 nav a {
     text-decoration: none;
     color: white;
}
 .label {
     text-align: center;
     margin-top: 180px;
}
 header h1{
     color: #FFF;
     font-size: 55px;
}
 header h4{
     color: #FFF;
     font-size: 12px;
}
 header button {
     color: #FFF;
     border: 2px solid #FFF;
     width: 200px;
     height: 50px;
     background-color:rgba(0, 0, 0, 0.5);
}
 .about {
     padding: 80px 40px;
     display: flex;
}
 .block-one{
     align-self: flex-start;
     font-size: 18px;
}
 .block-two{
     align-self: flex-end;
     font-size: 12px;
     margin-left: 100px;
}
 article {
     display: flex;
     justify-content: space-between;
     margin: 10px;
}
 article:nth-child(even){
     flex-direction:row-reverse;
}
 article img {
     width: 560px;
     float: left;
}
 .articles {
     padding: 40px;
     background-color: #F3F3F3;
}
 .topic {
     width: 400px;
     color: #343638;
     font-size: 16px;
     text-align: center;
     margin: auto;
}
 .toolbar {
     padding: 30px;
     display: flex;
     justify-content: space-around;
     background-color: #FFF;
     margin-top: 40px;
}
 .toolbar input {
     height: 40px;
     border-color: #343638;
     width: 600px;
     padding-left: 10px;
     background-color: #F3F3F3;
}
 .button-subscribe {
     width: 100px;
     background-color: #343638;
     border:none;
     color: #FFF;
}
 .search {
     display: flex;
}
 .subscribe {
     padding-top: 10px;
}
 .subscribe span {
     font-weight: bold;
}
 .contact {
     padding: 40px;
     display: flex;
     margin: 10px 0;
     justify-content: space-between;
     border-bottom: 1px solid #E8E8E8;
     padding-bottom: 80px;
}
 .contact p{
     color: #9E9E9E;
     font-size: 12px;
}
 .contact div {
     margin-right: 10px;
}
 .contact div:last-child{
     margin-left: 70px;
}
 .contact h3 {
     color: #343638;
}
 footer {
     padding: 20px;
     display: flex;
     justify-content: space-between;
}
 .footer-nav a {
     color: #343638;
     padding: 10px;
     text-decoration: none;
}