body {
	max-width: 1080px;
	margin: auto;
	background-color: #0a1223;
	color:  #fff;
	font-family: sans-serif;
}
@media (max-width: 575px) {
    body {
        background-color: #fff;
		color: linear-gradient(to top, #fefcea, #f1da36);
    }
	.menu {
		display:flex;
		flex-direction: column;
	}
	li {
			border-bottom: 1px solid silver;
		margin-left: -40px;
	
	}
	.item-menu a {
		color: #5d5d5d;
	}
}
nav ul {
	list-style-type: none;
}
.menu {
	display: flex;
	justify-content: flex-end;	
}
.gra {
	background: aqua;
}
nav li {
	float: left;
}
.item-menu a {
	text-decoration: none;
	color:  #fff;
	margin: 10px;
}
nav a:active {
	color: #5ebcff;
}
nav a:hover {
	color: #7B68EE;
}
h1 {
	text-align: center;
}

h1 span {
	font-style: italic;
}
img {
	width: 300px;
	height: 150px;
}
article {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.info {
	width: 400px;
}

article:nth-child(even) {
	flex-direction: row-reverse;
}